<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" @keyup.alt.112="onEnter" placeholder="输入" />
      <hr />
      <ul>
        <li v-if="todos.length===0">无任务</li>
        <li v-else v-for="item,index in todos" :key="item.id">
          <a @click.prevent.once="showDetail" href="http://www.baidu.com">{{item.title}}</a>
          <span @click="del(index)">删除</span>
        </li>
      </ul>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
            todos:[]
        },
        methods:{
            showDetail(){
                console.log(11)
            },
            onEnter(evt){
                this.todos.push({
                    id:Data.now(),
                    title:evt.target.value.trim()
                })
                evt.target.value=''
            },
            del(index){
                this.todos.splice(index,1)
            }
        }
      });
    </script>
  </body>
</html>
