<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li>
                <input type="checkbox" v-model="lessons" value="aa">aa
            </li>
            <li>
                <input type="checkbox" v-model="lessons" value="bb">bb
            </li>
            <li>
                <input type="checkbox" v-model="lessons" value="cc">cc
            </li>
        </ul>
        <hr>
        <div>{{lessons}}</div>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                // checked: false
                lessons:['aa','bb']
            },
            methods:{
                // clickFn(evt){
                //     console.log(evt.target.checked);
                // }
            }
        })
    </script>
</body>
</html>